/*
Theme Name: My Perfect Agent
Theme URI: http://www.myperfectagent.com.au
Author: duo.
Author URI: http://www.weareduo.com.au
Description: Custom wordpress theme for My Perfect Agent.
Version: 1.92
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px auto 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.gallery-item img {
    border-width: 1px;
    margin-bottom: 0;
}

.wp-post-image {
	margin-bottom: 20px;
}

.sticky {
}

.bypostauthor {
}

.entry {
	margin-bottom: 20px;
}

.widget {
	text-align: initial;
}

.widget ul {
    list-style: none;
    padding: 0;
}

#searchsubmit {
	margin: 4px 0;
}

.comment-list {
	padding: 0;
}

.comment-list,
.children:nth-child(n+1) {
	list-style: none;
}

@media (max-width: 767px) {
	.comment-list,
	.children:nth-child(n+1) {
		padding: 0;
  	}
}
