//------------------------------------------------ Colors

$mpa-red:                         #ef4347;
$charcoal:                        #3d3d3d;
$footer-bg:                       #eeeeee;

//------------------------------------------------ Font stacks

$sans-serif:                      Helvetica Neue, Arial, sans-serif;
$icons:                           Icons;
$proxima:                         Proxima, Helvetica Neue, Arial, sans-serif;
$maax:                            Maax, sans-serif;

//------------------------------------------------ Icons

@import 'icons';

//------------------------------------------------ Common

$image-path:                      '../media/';
$global-transition-duration:      .3s;
$global-horizontal-padding:       1.5em;

//------------------------------------------------ Breakpoints

$header-breakpoint-1:             767px;
$brands-breakpoint-1:             580px;
$brands-breakpoint-2:             960px;
$get-started-breakpoint-1:        767px;
$footer-breakpoint-1:             500px;
$contact-form-breakpoint-1:       600px;
