@import 'config';
@import 'utilities';
@import 'fonts';
@import 'animations';
@import 'foundation';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//------------------------------------------------ Page

body {
  font-family: $proxima;
  font-weight: 400;
  color: $charcoal;
  &.single-client,
  &.page-template-get-started,
  &.page {
    &:before {
      content: '';
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 500px;
      background-image: url($image-path + 'placeholder-city.jpg');
      background-size: cover;
      background-position: center 100%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  &.home {
    &:before {
      display: none;
    }
  }
  &.locked {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $maax;
  font-weight: 500;
}

h1 {
  font-size: 150%;
  @media (min-width: $header-breakpoint-1) {
    font-size: 196%;
  }
}

strong {
  font-weight: 700;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

main {
  background-color: white;
  section {
    position: relative;
    h1 {
      color: $mpa-red;
      margin-bottom: .5em;
      line-height: 1.2;
    }
  }
}

.button {
  color: white;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid white;
  transition: $global-transition-duration;
  display: inline-block;
  padding: .75em 2em;
  font-size: 154%;
  font-family: $maax;
  font-weight: 500;
  text-transform: capitalize;
  &:hover {
    background-color: white;
    color: $mpa-red;
  }
}

//------------------------------------------------ Global Header

#global-header {
  position: relative;
  overflow: hidden;
  @media (min-width: $header-breakpoint-1) {
    padding: 20px 20px 0;
  }
  body.touch & {
    background-image: url($image-path + 'placeholder-city.jpg');
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    body.touch & {
      display: none;
    }
  }
  a {
    color: white;
  }
  > .inner {
    background-color: rgba($mpa-red, 0.8);
    position: relative;
    padding: 2em 1.5em;
    @media (min-width: $header-breakpoint-1) {
      padding: 0 1.5em 2em;
    }
    body.home & {
      @media (min-width: $header-breakpoint-1) {
        height: 780px;
        padding: 0;
      }
    }
    body.page-get-started & {
      @media (min-width: $header-breakpoint-1) {
        padding: 0 1.5em 2em !important;
      }
    }
    body.single-client &{
      padding: 2em 1.5em;
    }
    body.page & {
      @media (min-width: $header-breakpoint-1) {
        padding-bottom: 0;
      }
    }
  }
  header {
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: $header-breakpoint-1) {
      text-align: inherit;
      padding: 3em 2em;
    }
    body.single-client & {
      @media (min-width: $header-breakpoint-1) {
        padding: 0;
      }
    }
    body.page-template-get-started & {
      @media (min-width: $header-breakpoint-1) {
        padding-bottom: 2em;
      }
    }
  }
  .logo {
    max-width: 10em;
    @media (min-width: $header-breakpoint-1) {
      max-width: 13em;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  nav {
    line-height: 31px;
    @media (min-width: $header-breakpoint-1) {
      display: block;
    }
    ul {
      display: flex;
      align-items: center;
    }
    li {
      margin-left: 2em;
      &:first-of-type {
        display: none;
        margin-left: 0;
        @media (min-width: 570px) {
          display: block;
        }
      }
      &:last-of-type {
        display: none;
        @media (min-width: 570px) {
          display: block;
        }
        a {
          color: $mpa-red;
          border-radius: 3px;
          background-color: white;
          border: 1px solid white;
          transition: $global-transition-duration;
          display: inline-block;
          padding: .5em 2em;
          font-size: 100%;
          font-family: $maax;
          font-weight: 500;
          text-transform: capitalize;
          text-decoration: none;
          &:hover {
            background-color: white;
            color: $mpa-red;
          }
        }
        body.page-get-started &,
        body.single-client & {
          display: none;
        }
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #home-intro {
    color: white;
    text-align: center;
    line-height: 1.3;
    max-width: 34em;
    @media (min-width: $header-breakpoint-1) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    h1 {
      margin: 1em 0;
      @media (min-width: $header-breakpoint-1) {
        font-size: 196%;
        margin-bottom: .25em;
      }
    }
    p {
      margin-bottom: 2em;
    }
    br {
      display: none;
      @media (min-width: $header-breakpoint-1) {
        display: block;
      }
    }
    a {
      font-size: 100%;
      background-color: white;
      color: $mpa-red;
    }
  }
  .get-started-intro {
    text-align: center;
    color: white;
    line-height: 1.4;
    margin-top: 1.5em;
    @media (min-width: $header-breakpoint-1) {
      margin-top: 0;
    }
    h1 {
      margin-bottom: .5em;
      @media (min-width: $header-breakpoint-1) {
        margin-bottom: .5em;
      }
    }
  }
}

//------------------------------------------------ Section: Tagline

#tagline {
  background-color: $mpa-red;
  background-image: url('../media/map.svg');
  background-size: cover;
  background-position: contain;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.3;
  padding: 2em 1.5em;
  @media (min-width: $header-breakpoint-1) {
    border-left: 20px solid white;
    border-right: 20px solid white;
    padding: 5em 0;
  }
  h1 {
    max-width: 31em;
    margin: 0 auto;
    color: white;
    line-height: 1.4;
    font-size: 130%;
    @media (min-width: $header-breakpoint-1) {
      font-size: 167%;
    }
  }
}

//------------------------------------------------ Section: How it works

#how-it-works {
  padding: 2em 1.5em;
  text-align: center;
  line-height: 1.5;
  @media (min-width: $header-breakpoint-1) {
    padding: 5em 0;
  }
  .intro {
    max-width: 34em;
    margin: 0 auto;
    margin-bottom: 2em;
    @media (min-width: $header-breakpoint-1) {
      margin-bottom: 0;
    }
  }
  .steps {
    overflow: hidden;
    @media (min-width: $header-breakpoint-1) {
      margin-top: 3em;
    }
    .step {
      box-sizing: border-box;
      margin-bottom: 2em;
      @media (min-width: $header-breakpoint-1) {
        width: calc(100% / 3);
        float: left;
        padding: 0 1em 0;
        margin-bottom: 0;
      }
      .icon {
        max-width: 262px;
        margin: 0 auto;
        border-radius: 100%;
        border: 5px solid $mpa-red;
        box-sizing: border-box;
        overflow: hidden;
        &:before {
          content: '';
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          display: block;
        }
      }
      &.property-details {
        .icon {
          &:before {
            background-image: url('../media/step-1.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 68%;
          }
        }
      }
      &.tailored-search {
        .icon {
          &:before {
            background-image: url('../media/step-2.svg');
            background-repeat: no-repeat;
            background-position: 82% 87%;
            background-size: 72%;
          }
        }
      }
      &.myperfectagent {
        .icon {
          &:before {
            background-image: url('../media/step-3.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 63%;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    h5 {
      margin: 2em 0 1em;
      color: $mpa-red;
      font-family: $proxima;
      font-weight: 700;
    }
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 0 3em;
      box-sizing: border-box;
    }
  }
}

//------------------------------------------------ Section: Expert Agents

#expert-agents {
  color: white;
  line-height: 1.4;
  background-color: $mpa-red;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  padding: 2em 1.5em;
  box-sizing: border-box;
  @media (min-width: $header-breakpoint-1) {
    padding: 0 1.5em;
  }
  &:before {
    content: '';
    background-image: url($image-path + 'placeholder-mcg.jpg');
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @media (min-width: $header-breakpoint-1) {
      display: block;
    }
  }
  h1 {
    color: white;
  }
  .copy {
    background-color: $mpa-red;
    box-sizing: border-box;
    @media (min-width: $header-breakpoint-1) {
      width: 50%;
      padding: 6em 0 6em 4em;
      margin-left: 50%;
      display: table;
    }
    .inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
  p {
    margin-bottom: 1em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

//------------------------------------------------ Section: CTA

#cta {
  background-color: $mpa-red;
  padding: 2em 1.5em;
  text-align: center;
  @media (min-width: $header-breakpoint-1) {
    padding: 3em 1.5em;
  }
  a {
    font-size: 100%;
    background-color: white;
    color: $mpa-red;
    @media (min-width: $header-breakpoint-1) {
      font-size: 154%;
      background-color: $mpa-red;
      color: white;
    }
    &:hover {
      @media (min-width: $header-breakpoint-1) {
        background-color: white;
        color: $mpa-red;
      }
    }
  }
}

//------------------------------------------------ Section: FAQs

#faqs {
  padding: 2em 1.5em;
  line-height: 1.4;
  @media (min-width: $header-breakpoint-1) {
    padding: 4em 1.5em;
  }
  header {
    text-align: center;
    margin-bottom: 3em;
  }
  .faqs-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $header-breakpoint-1) {
      flex-direction: row;
      justify-content: space-between;
    }
    .faq {
      margin-bottom: 1.5em;
      @media (min-width: $header-breakpoint-1) {
        padding: 0;
      }
      &:nth-child(2) {
        @media (min-width: $header-breakpoint-1) {
          margin: 0 2em;
        }
      }
      &:last-of-type {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
    h3 {
      font-size: 120%;
      margin-bottom: 1em;
      font-family: $proxima;
      border-bottom: 1px solid rgba(black, .1);
      padding-bottom: 1em;
      @media (min-width: $header-breakpoint-1) {
        font-size: 140%;
      }
    }
    p {
      margin-bottom: .5em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

//------------------------------------------------ Skid Styles

.skid {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 7em;
  transition: height .5s;
  @media (min-width: $get-started-breakpoint-1) {
    padding-bottom: 10em;
  }
  > .slides {
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    backface-visibility: hidden; // Fix browser rendering bugs
    transition: .5s;
    > li {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      white-space: normal;
      text-align: center;
      transition: height .5s;
    }
  }
  &.drag {
    > .slides {
      cursor: grab;
      img {
        -webkit-user-drag: none;
      }
    }
  }
  &.dragging {
    user-select: none;
    > .slides {
      cursor: grabbing;
      transition: none;
    }
  }
  nav {
    overflow: hidden;
    margin-top: 2em;
    padding-top: 3em;
    border-top: 1px solid rgba(black, .1);
    position: absolute;
    bottom: 0;
    width: 100%;
    @media (min-width: $get-started-breakpoint-1) {

    }
    ol {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: inherit;
      top: 1em;
      @media (min-width: $get-started-breakpoint-1) {
        bottom: 18%;
      }
      li {
        display: inline-block;
        margin: 0 .25em;
        a {
          display: block;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          cursor: default;
          background-color: rgba($mpa-red, .3);
          &.active {
            background-color: $mpa-red;
          }
        }
      }
    }
    .prior,
    .next {
      font-family: $proxima;
      font-weight: 700;
      padding: .5em 2.5em;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      transition: $global-transition-duration;
      background-color: white;
      @media (min-width: $get-started-breakpoint-1) {
        font-size: 150%;
      }
      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
    .prior {
      color: rgba(#484848, 0.3);
      float: left;
      border-color: rgba(#484848, 0.3);
    }
    .next {
      float: right;
      color: $mpa-red;
      border-color: $mpa-red;
      &:hover {
        background-color: $mpa-red;
        color: white;
      }
    }
  }

  &.start {
    > nav  {
      .prior {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

//------------------------------------------------ Section: Get Started Page

#get-started {
  line-height: 1.3;
  box-sizing: border-box;
  padding: 2em 1.5em;
  @media (min-width: $get-started-breakpoint-1) {
    padding: 5em 1.5em;
  }
  .container {
    max-width: 40em;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
    min-width: inherit;
    position: relative;
    > .frm_submit {
      position: absolute;
      bottom: 0;
      right: 0;
      input {
        font-family: $proxima;
        font-weight: 700;
        font-size: 100%;
        padding: .5em 2.5em;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        transition: $global-transition-duration;
        border-color: $mpa-red;
        color: $mpa-red;
        background: none;
        cursor: pointer;
        @media (min-width: $get-started-breakpoint-1) {
          height: 57px;
          font-size: 150%;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $mpa-red;
          color: white;
        }
      }
      img {
        display: none;
      }
      &.hidden {
        display: none;
      }
    }
  }
  .intro {
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(black, .1);
    p {
      max-width: 30em;
      margin: 0 auto;
    }
  }

  .row {
    overflow: hidden;
    margin-bottom: 1em;
    @media (min-width: $get-started-breakpoint-1) {
      margin-bottom: 2em;
    }
    label {
      display: block;
      margin-bottom: .5em;
      font-size: 95%;
      text-align: left;
      @media (min-width: $get-started-breakpoint-1) {
        font-size: 110%;
      }
      .frm_required {
        color: $mpa-red;
      }
    }
    select {
      appearance: none;
      font-family: $proxima;
      color: #848484;
      font-size: 100%;
      background-color: transparent;
      padding: 1em;
      border: 1px solid rgba(black, .1);
      width: 100%;
      border-radius: 3px;
      &:focus {
        outline: none;
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      appearance: none;
      border: 1px solid rgba(black, .1);
      border-radius: 3px;
      width: 100%;
      box-sizing: border-box;
      font-size: 100%;
      padding: 1em;
      font-family: $proxima;
      color: #848484;
      width: 100%;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    input[type="checkbox"] {
      margin: 0 .5em 0 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .property-type {
    select {
      width: 100%;
    }
  }
  .number-of-bedrooms {
    width: 35%;
    float: left;
    select {
      width: 100%;
    }
  }
  .suburb,
  .postcode,
  .state {
    @media (min-width: $get-started-breakpoint-1) {
      float: left;
    }
  }
  .suburb {
    @media (min-width: $get-started-breakpoint-1) {
      width: 51%;
      margin-right: 5%;
    }
  }
  .postcode {
    margin-top: 1em;
    @media (min-width: $get-started-breakpoint-1) {
      width: 25%;
      margin-right: 5%;
      margin-top: 0;
    }
  }
  .state {
    margin-top: 1em;
    @media (min-width: $get-started-breakpoint-1) {
      width: 14%;
      margin-top: 0;
    }
  }
  .first-name,
  .contact-number {
    @media (min-width: $get-started-breakpoint-1) {
      width: 47%;
      float: left;
    }
  }
  .last-name,
  .email-address {
    margin-top: 1em;
    @media (min-width: $get-started-breakpoint-1) {
      margin-top: 0;
      width: 47%;
      float: right;
    }
  }

  .user-agreement {
    max-height: 6em;
    font-size: 90%;
    line-height: 1.3;
    text-align: left;
    overflow: scroll;
  }

  #user-agreement-checkbox {
    margin-bottom: 0;
    .frm_primary_label {
      display: none;
    }
  }

  .icons-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $get-started-breakpoint-1) {
      justify-content: space-around;
    }
  }

  .form-icon {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 4em;
    @media (min-width: $get-started-breakpoint-1) {
      max-width: 10em;
      padding: 0 1em;
      margin: 0;
    }
    label {
      display: block;
      margin-bottom: 1em;
    }
    input {
      appearance: none;
      border: 1px solid rgba(black, .1);
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      font-size: 100%;
      padding: 1em;
      font-family: $proxima;
      color: #848484;
      width: 100%;
      max-width: 4em;
      &:focus {
        outline: none;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      margin-bottom: 3em;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &.bedrooms {
      &:before {
        background-image: url($image-path + 'icon-bedrooms.svg');
      }
    }
    &.bathrooms {
      &:before {
        background-image: url($image-path + 'icon-bathrooms.svg');
      }
    }
    &.toilets {
      &:before {
        background-image: url($image-path + 'icon-toilets.svg');
      }
    }
    &.study {
      &:before {
        background-image: url($image-path + 'icon-study.svg');
      }
    }
    &.carport {
      &:before {
        background-image: url($image-path + 'icon-carport.svg');
      }
    }
    &.garage {
      &:before {
        background-image: url($image-path + 'icon-garage.svg');
      }
    }
    &.land-size {
      span {
        color: #848484;
      }
      &:before {
        background-image: url($image-path + 'icon-land-size.svg');
      }
      input {
        max-width: 6em;
      }
    }
  }
  // .get-started-submit {
  //   float: right;
  //   input[type="submit"] {
  //     font-family: $proxima;
  //     font-weight: 700;
  //     font-size: 100%;
  //     padding: .5em 2.5em;
  //     border-radius: 3px;
  //     border-width: 1px;
  //     border-style: solid;
  //     transition: $global-transition-duration;
  //     border-color: $mpa-red;
  //     color: $mpa-red;
  //     background: none;
  //     cursor: pointer;
  //     @media (min-width: $get-started-breakpoint-1) {
  //       height: 57px;
  //       font-size: 150%;
  //     }
  //     &:focus {
  //       outline: none;
  //     }
  //     &:hover {
  //       background-color: $mpa-red;
  //       color: white;
  //     }
  //   }
  //   &.hidden {
  //     display: none;
  //   }
  // }
}

//------------------------------------------------ Section: Get Started Thank You Page

body.page-thank-you {
  .basic-page {
    text-align: center;
    .thank-you-thumbs-up {
      max-width: 12em;
      margin: 0 auto 2em;
      @media (min-width: $header-breakpoint-1) {
        max-width: 22em;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .container > h1 {
      @media (min-width: $header-breakpoint-1) {
        font-size: 3em;
      }
    }
    p {
      margin: 0 auto 1em;
      @media (min-width: $header-breakpoint-1) {
        font-size: 1.2em;
        max-width: 55em;
        line-height: 1.5;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

//------------------------------------------------ Section: Basic Page

.basic-page {
  padding: 2em 1.5em;
  line-height: 1.3;
  @media (min-width: $header-breakpoint-1) {
    padding: 4em 1.5em;
  }
  .container {
    h1 {
      margin-bottom: 1em;
    }
    h3 {
      margin-bottom: 1em;
      font-size: 120%;
      text-transform: uppercase;
    }
    p {
      margin-top: 1em;
    }
    > ol {
      padding-left: 1em;
      > li {
        display: list-item;
        margin-bottom: 2em;
        &:last-of-type {
          margin-bottom: 0;
        }
        > ol {
          > li {
            margin-bottom: 1em;
            > ul {
              margin-top: 1em;
              padding-left: 2em;
              > li {
                display: list-item;
                margin-bottom: .5em;
                list-style-type: lower-alpha;
              }
            }
          }
        }
      }
    }
  }
}

//------------------------------------------------ Client Dashboard

body.single-client {
  .user-intro {
    color: white;
    line-height: 1.3;
    @media (min-width: $header-breakpoint-1) {
      padding: 0 20px;
    }
    .inner {
      background-color: $mpa-red;
      padding: 2em 1.5em;
      @media (min-width: $header-breakpoint-1) {
        padding: 3em 1.5em 4em;
      }
    }
    h1 {
      margin-bottom: .5em;
      color: white;
      @media (min-width: $header-breakpoint-1) {
        margin: 0 0 1em;
      }
    }
  }
  .introduction {
    text-align: center;
    line-height: 1.4;
    padding: 2em 1.5em;
    @media (min-width: $header-breakpoint-1) {
      padding: 4em 1.5em 6em;
    }
    p {
      max-width: 36em;
      padding-bottom: 2em;
      margin: 0 auto;
      border-bottom: 1px solid #d6d6d6;
    }
  }
  .user-agents {
    padding: 0 1.5em;
    @media (min-width: $header-breakpoint-1) {
      padding: 0 1.5em 4em;
    }
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media (min-width: $header-breakpoint-1) {
        flex-direction: row;
      }
    }
    .agent {
      text-align: center;
      margin-bottom: 2em;
      line-height: 1.4;
      position: relative;
      padding-bottom: 4em;
      @media (min-width: $header-breakpoint-1) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 1 auto;
        max-width: 25em;
        margin: 0 2em;
      }
    }
    figure {
      border-radius: 100%;
      margin-bottom: 2em;
      border: 4px solid rgba(240,72,76, .75);
      img {
        border-radius: 100%;
        width: 100%;
        display: block;
      }
    }
    header {
      margin-bottom: 1em;
      h3 {
        color: $mpa-red;
        margin-bottom: .25em;
      }
      span {
        display: block;
        margin-bottom: .25em;
      }
    }
    p {
      font-size: 90%;
      margin-bottom: .25em;
      text-align: left;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .button {
      border-color: $mpa-red;
      border-width: 1px;
      color: red;
      font-size: 110%;
      width: 100%;
      max-width: 9em;
      margin: 0 auto;
      padding: .5em 1em;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: .3s;
      display: flex;
      align-items: center;
      span {
        width: 100%;
        transition: transform .3s;
      }
      .loader,
      .success {
        width: 20px;
        height: 20px;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        svg {
          width: 100%;
          height: 100%;
          path,
          rect {
            fill: $mpa-red;
          }
        }
      }
      .success {
        width: 17px;
        height: 17px;
        svg {
          path {
            fill: white;
          }
        }
      }
      &:hover {
        background-color: $mpa-red;
        color: white;
      }
      &.notifying {
        background-color: $mpa-red;
        color: white;
        span {
          transform: translateX(-.75em);
        }
        .loader {
          visibility: visible;
          opacity: 1;
        }
        svg {
          path,
          rect {
            fill: white;
          }
        }
      }
      &.notified {
        border-color: white;
        background-color: green;
        color: white;
        pointer-events: none;
        .loader {
          visibility: hidden;
          opacity: 0;
        }
        .success {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

//------------------------------------------------ Contact Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239,67,71,0.95);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 1.5em;
  box-sizing: border-box;
  transition: 1s;
  opacity: 0;
  display: none;
  visibility: hidden;
  @media (min-width: $contact-form-breakpoint-1) {

  }
  .contact-form {
    width: 100%;
    max-width: 40em;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    @media (min-width: $contact-form-breakpoint-1) {
      height: auto;
      position: static;
    }
  }
  .close {
    width: 1.25em;
    height: 1.25em;
    background-image: url($image-path + 'icon-close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 1em;
    cursor: pointer;
    transition: transform .3s cubic-bezier(0.455, 0.03, 0, 1);
    @media (min-width: $contact-form-breakpoint-1) {
      width: 2em;
      height: 2em;
      top: 2em;
      right: 2em;
    }
    &:hover {
      transform: rotate(90deg);
    }
  }
  header {
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    padding-bottom: 2em;
    @media (min-width: $contact-form-breakpoint-1) {
      margin-bottom: 3em;
      padding-bottom: 3em;
    }
    h1 {
      margin-bottom: 1em;
    }
    p {
      line-height: 1.5;
      br {
        display: none;
        @media (min-width: $contact-form-breakpoint-1) {
          display: inline-block;
        }
      }
    }
  }
  .wpcf7-form {
    .row {
      @media (min-width: $contact-form-breakpoint-1) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2em;
      }
      &.last {
        margin-bottom: 0;
      }
      &.message,
      &.last {
        .field {
          max-width: none;
          width: 100%;
        }
      }
      &.last {
        .field {
          text-align: center;
        }
      }
    }
    .field {
      text-align: left;
      margin-bottom: 2em;
      @media (min-width: $contact-form-breakpoint-1) {
        max-width: 18em;
        margin-bottom: 0;
      }
      label {
        font-size: 1.13em;
        display: block;
        margin-bottom: 1em;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        font-size: 1em;
        outline: none;
        appearance: none;
        padding: .75em 1em;
        border-radius: 3px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        transition: .5s;
        width: 100%;
        box-sizing: border-box;
        opacity: .4;
        font-family: $proxima;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
      textarea {
        max-height: 7em;
      }
      input[type="submit"] {
        display: inline-block;
        border: none;
        outline: none;
        background-color: white;
        color: $mpa-red;
        border-radius: 3px;
        font-size: 1em;
        padding: 1em 2em;
        font-family: $proxima;
        font-weight: 700;
        appearance: none;
        cursor: pointer;
      }
      .wpcf7-not-valid-tip {
        color: white;
        font-style: italic;
        display: block;
        margin: 1em 0 0;
        font-size: .9em;
      }
      ::-webkit-input-placeholder {
        color: white;
      }

      :-moz-placeholder {
        color: white;
      }

      ::-moz-placeholder {
        color: white;
      }

      :-ms-input-placeholder {
        color: white;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

//------------------------------------------------ Global Footer

#global-footer {
  background-color: $footer-bg;
  padding: 2em 1.5em;
  border: none;
  @media (min-width: $footer-breakpoint-1) {
    padding: 4em 1.5em;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
  }
  .row {
    overflow: hidden;
    font-size: 88%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: $footer-breakpoint-1) {
      flex-direction: row;
    }
    &:first-of-type {
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 1px solid #d6d6d6;
      @media (min-width: $footer-breakpoint-1) {
        border-bottom: 1px solid #d6d6d6;
        margin-bottom: 2em;
        padding-bottom: 5em;
      }
    }
    &:last-of-type {
      align-items: center;
      @media (min-width: $footer-breakpoint-1) {
      }
    }
  }
  nav {
    width: 100%;
    max-width: 18em;
    color: #484848;
    margin-bottom: 2em;
    @media (min-width: $footer-breakpoint-1) {
      margin-bottom: 0;
    }
    li {
      margin-bottom: .5em;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.get-started {
        body.page-get-started &,
        body.single-client & {
          display: none;
        }
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    max-width: 26em;
    width: 100%;
    color: #848484;
    line-height: 1.4;
  }
  .credit {
    color: #484848;
    line-height: 25px;
    .footer-logo {
      max-width: 12em;
      margin-bottom: .5em;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      @media (min-width: $footer-breakpoint-1) {
        margin-bottom: 0;
      }
    }
    ul {
      li {
        display: inline-block;
        float: left;
        &:nth-child(2) {
          margin: 0 .5em;
        }
      }
    }
  }
}

//------------------------------------------------ Error Message

.error-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($mpa-red, .95);
  display: table;
  z-index: 112;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: all .3s cubic-bezier(0.215, 0.61, 0.335, 1) 0s;
  padding: 0 $global-horizontal-padding;
  box-sizing: border-box;
  text-align: center;
  .message {
    display: table-cell;
    vertical-align: middle;
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.335, 1) 0s;
  }
  h2 {
    margin: 1em 0 .5em;
    color: white;
    font-weight: 600;
    font-size: 150%;
    line-height: 1.2;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .message {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

//------------------------------------------------ Form Submission Overlay

.submitting-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($mpa-red, .95);
  display: table;
  z-index: 112;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: all .3s cubic-bezier(0.215, 0.61, 0.335, 1) 0s;
  padding: 0 $global-horizontal-padding;
  box-sizing: border-box;
  text-align: center;
  .message {
    display: table-cell;
    vertical-align: middle;
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(0.215, 0.61, 0.335, 1) 0s;
    padding: 0 16vw;
    box-sizing: border-box;
    @media (min-width: $get-started-breakpoint-1) {
      padding: 0;
    }
  }
  .loading-spinner {
    max-width: 4em;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  h2 {
    margin: 1em 0 .5em;
    color: white;
    font-weight: 600;
    font-size: 100%;
    line-height: 1.2;
    @media (min-width: $get-started-breakpoint-1) {
      font-size: 150%;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .message {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
